
table, th, td{
    /* border: 1px solid black; */
    /* color: #338fda; */
    border-collapse: collapse;
    font-size: 14.4px;
    font-family: sans-serif;
    padding: 8px;
}

table tr td a, table tr th a{
    text-decoration: none;
    color: #3490dc;
}
.toq{
    background-color: #f2f5f7;
}
.tartibi, .toifasi{
    color: #3490dc;
}
.yechimi{
    color: #3490dc;
    text-align: center;
}
.nomi{
    color: #3490dc;
    padding: 8px;
}
.qiyinchiligi, .yulduzcha, .odamcha, .kvadrat, .urinish, .foiz{
    text-align: center;
}
.yulduzcha{
    color: #dda601;
}
.yulduzcha b{
    color: black;
}
.navblock{
    padding: 5px;
}




.container{
    margin: 16px auto;
    padding: 0px 15px;
    width: 1140px;
    height: fit-content;
    /* border: 2px solid black; */
}
.navblock{
    width: 1110px;
    height: 47.04px;
    background-color:#f3f5f6;
    margin-bottom: 2px;
}
.navblock ol{
    display: flex;
    list-style-type: none;
}
.navblock ol li{
    padding: 0 0 0 8px;
}
.robocontest{
    display: inline;

}

.menyu a{
    text-decoration: none;
    color: #2874a6;
    width: 100%;
    padding: 2px;
}
.forma{
    width: 15%;
    height: fit-content;
    background-color: #f3f5f6;
     /* border: 1px solid black; */
     padding: 15px;
     position: sticky; /*--------------------------------------------------------------------*/
     top: 10;
}
.forma .menyu{
    padding: 8px;
}
.menyu:hover{
    background-color: #8ec6eb;
}
.jadval{
    width: 85%;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 0px 2px;
}
.izlash{
    /* padding: 15px; */
    display: flex;
}
.izlash input{
    width: 80%;
    padding: 6px 12px;
    border: 1px solid rgb(185, 184, 184);
}
.izlash input:hover{
    border: 1px solid #6cbbf0;
    border: 3px solid #6cbbf0;
    
}
.izlash select{
    border: 1px solid rgb(185, 184, 184);
}
.kitob_yuklash{
    padding: 6px 0px;
    width: 100%;
    /* border: 1px solid black; */
    height: 20px;
}
.kitob_yuklash button{
    float: right;
    background-color: #3490dc;
    color: white;
    padding: 5px;
    border: none;
}
tr:hover{
    background-color: #e8ecef ;
}
