

.body{
    width: 80vw;
    margin: 0px auto;
    /* border: 1px solid black; */
    /* border: 10px solid red; */
    height: fit-content;
}

.body1{
    /* border: 10px solid black; */
    width: 60vw;
    margin: 0px auto;
    background-color: white;

}
.navbar{
    width: 50vw;
    margin: auto;
    /* border: 2px solid #73AD21; */
    height: 70px;
    border-bottom: 3px solid white;
}


.navbar a{
    float: right;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.navbar img{
    float: left;
    border-radius: 50px;
    width: 100px;
    margin: 18px 20px;
}
.back-gr-img{
    height: 400px;
    background-image: url("./img/desktop-wallpaper-background-for-hospital-website-tip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.text{
    margin: 100px;
    color: white;
}
.doctors {
    text-align: center;
    border-bottom: 3px solid #4fa5c6;
    height: 400px;
    width: 50vw;
    margin: auto;
    padding: 10px;
}
.doctors h4, h5{
    color: gray;
}
.box{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.box1{
    width: 28%;
    margin: 20px 10px;
}
.box .box1 img{
    width: 150px;
}

.our-vision{
    border-bottom: 3px solid #4fa5c6;
    height: 400px;
    width: 50vw;
    margin: auto;
    padding: 20px;
    display: flex;
}
.img-vision{
    width: 40%;
}
.text-vision{
    width: 50%;
    margin: 20px 10px;
}

.img-vision img{
    width: 250px;
    margin: auto 10px;
}
.text-vision span{
    color: #4fa5c6;
    font-size: 1.3rem;
}
.text-vision h4{
    text-align: center;
    font-family: sans-serif;
}
.text-vision button{
    border: 2px solid #4fa5c6;
    padding: 8px 16px;
    border-radius: 5px;
    color: #4fa5c6;
    background-color: white;
}
.operation{
    border-bottom: 3px solid #4fa5c6;
    height: 400px;
    width: 50vw;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.operation span{
    color: #4fa5c6;
}
.operation p{
    color: gray;
}
.operation-box{
    display: flex;
    justify-content: space-around;
    padding: 1px;
    margin: 0px 2px;
}
.operation-img{
    width: 23%;
    /* margin: 3px; */
}
.operation .operation-box .operation-img img{
    width: 150px;
    height: 150px;
}
.client{
    height: 200px;
    width: 50vw;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: gray; 
}
.client span{
    color: #4fa5c6;
}
.client .accordion{
    margin: 2px auto;
    width: 300px;
    border-top: 2px solid #b7b7b7;
}
footer{
    height: 400px;
    width: 60vw;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-image: url("./img/desktop-wallpaper-background-for-hospital-website-tip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.block{
    width: 23%;
}
.block img{
    border-radius: 50px;
    width: 100px;
    margin: 18px 20px;
}
.block h5, h3{
    color: white;
}

.end{
    box-sizing: border-box;
    width: 60vw;
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}





.position-relative{
    position: relative;
    left: 100px;
    background-color: aqua;
    border: 3px solid #73AD21;
    height: 500px;
    width: 500px;
}
.position-fixed{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    background-color: #73AD21;
}