

.anketa{
    width: 80vw;
    height: 100vh;
    border: 1px solid #7272e7;
    margin: 0px auto;
    padding: 10px;
}
header{
    width: 80vw;
    background-color: #7272e7;
    color: aliceblue;
    padding: 4px 8px;
    text-align: center;
    margin: 0px auto;
    border: 1px solid #7272e7;
}

.shaxsiy{
    width: 30vw;


}
.shaxsiy input{
    margin: 10px;
    padding: 4px;
}
.shaxsiy div{
    display: inline;
}
.shaxsiy .foto{ 
    width: 50%;
    border: 2px solid black;
}